<div class="content">
    
    <div>
        <app-main-menu [count_product_of_busket]="count_basket" [count_product_of_favourite]="count_favourites"
            (onClick)="pageChange($event)"></app-main-menu>
    </div>    
    <div class="tab_content">
        <div *ngIf="page === 'list'"> 
            <div class="part">
                <div class="name-section">
                    Наушники
                </div>
                <div class="products-list">
                    <div *ngFor="let pr of list_products_wired" class="product-element">
                        <div class="product-element__img">
                            <img src={{pr.img}} alt="{{pr.title}}" class="img-product"> 
                        </div> 
                        <div class="title-and-price">
                            <div class="title-and-price__title">{{pr.title}}</div>
                            <div class="title-and-price__price">{{pr.price}} ₽</div>
                        </div> 
                        <div class="rate-and-buy">
                            <div class="rate-and-buy__rate">
                                <div class="rate-and-buy__star">
                                    <img src="/assets/star.png">
                                </div>
                                <div class="rate-and-buy__rate-value">
                                        {{pr.rate}}
                                </div>                        
                            </div>
                            <div class="buy">
                                <button class="button-buy" (click)="buyProduct(pr)">Купить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="part">
                <div class="name-section">
                    Беспроводные наушники
                </div>
                <div class="products-list">
                    <div *ngFor="let pr of list_products_no_wired" class="product-element">
                        <div class="product-element__img">
                            <img src={{pr.img}} alt="{{pr.title}}" class="img-product"> 
                        </div> 
                        <div class="title-and-price">
                            <div class="title-and-price__title">{{pr.title}}</div>
                            <div class="title-and-price__price">{{pr.price}} ₽</div>
                        </div> 
                        <div class="rate-and-buy">
                            <div class="rate-and-buy__rate">
                                <div class="rate-and-buy__star">
                                    <img src="/assets/star.png">
                                </div>
                                <div class="rate-and-buy__rate-value">
                                    {{pr.rate}}
                                </div>                        
                            </div>
                            <div class="buy">
                                <button class="button-buy" (click)="buyProduct(pr)">Купить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="page === 'basket'">
            <div class="part">
                <div class="name-section">
                    Корзина
                </div>
                <div class="basket">
                    <div class="list-buy">
                        <div *ngFor="let pr of list_products_in_basket" class="product-in-basket">
                            <div class="delete-product">
                                <button class="delete-button">
                                    <img src="/assets/trash.png" (click)="deleteProduct(pr)">
                                </button>
                            </div>
                            <div class="img-and-price">
                                <div class="product-element__img">
                                    <img src={{pr.img}} alt="{{pr.title}}" class="img-product"> 
                                </div> 
                                <div class="title-and-price">
                                    <div class="title-and-price__title">{{pr.title}}</div>
                                    <div class="title-and-price__price">{{pr.price}} ₽</div>
                                </div> 
                            </div>
                            <div class="add-and-price">
                                <div class="add-and-price__add">
                                    <div class="add-and-price__minus-plus">
                                        <button class="button-minus-plus" (click)="subProduct(pr)">-</button>
                                    </div>
                                    <div class="add-and-price__count">
                                        {{pr.count_in_basket}}
                                    </div>
                                    <div class="add-and-price__minus-plus">
                                        <button class="button-minus-plus" (click)="addProduct(pr)">+</button>
                                    </div>                       
                                </div>
                                <div class="add-and-price__price">
                                    {{pr.price * pr.count_in_basket}} ₽                                
                                </div>
                            </div>
                        </div>
                        <div *ngIf="getSize() === 0" class="empty">
                            <div class="name-section">
                                корзина пуста...
                            </div>
                        </div>
                    </div>
                    <div class="pay">
                        <div class="price-all-product">
                            <div class="name-section">
                                ИТОГО
                            </div>
                            <div class="add-and-price__price">
                                {{price}} ₽
                            </div>
                        </div>
                        <div class="pay-all">
                            <button class="button-buy" [ngClass]="{'not-disabled': count_basket!==0, 'disabled': count_basket===0}"
                                (click)="payAllProduct()" [disabled]="count_basket===0">Перейти к оформлению</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <div class="footer">
        <app-footer (onClick)="pageChange($event)"></app-footer>
    </div>
    
</div>
